<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_918ed8ad2cfe41468bf407a055bbd189 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_918ed8ad2cfe41468bf407a055bbd189" ></div>
        
</body>
<script>    
    
            var map_918ed8ad2cfe41468bf407a055bbd189 = L.map(
                "map_918ed8ad2cfe41468bf407a055bbd189",
                {
                    center: [47.739999999999995, -121.935],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_918ed8ad2cfe41468bf407a055bbd189);

            

        
    
            var tile_layer_be62325a84b043208c9f0b3020e85fc5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
            map_918ed8ad2cfe41468bf407a055bbd189.fitBounds(
                [[46.68, -124.55], [48.8, -119.32]],
                {}
            );
        
    
            var circle_marker_b4102c3cc29f4b33bdaa20a96c862857 = L.circleMarker(
                [47.93, -124.55],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_86fdde975dc1472bbb485ab740e2fd96 = L.popup({"maxWidth": "100%"});

        
            var html_6f435bf967cb4027b3952d3337005435 = $(`<div id="html_6f435bf967cb4027b3952d3337005435" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kuil"target="_blank"><b>kuil</b><br>kuil,&nbsp47.93</a><br>Pin&nbspNumber&nbsp=&nbsp0<br><b><font size=+2 color=green>-124.55</font></b></div>`)[0];
            popup_86fdde975dc1472bbb485ab740e2fd96.setContent(html_6f435bf967cb4027b3952d3337005435);
        

        circle_marker_b4102c3cc29f4b33bdaa20a96c862857.bindPopup(popup_86fdde975dc1472bbb485ab740e2fd96)
        ;

        
    
    
            circle_marker_b4102c3cc29f4b33bdaa20a96c862857.bindTooltip(
                `<div>
                     kuil<br>Pin 0
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_2bcbf67187424aa69e30c89fafc58621 = L.circleMarker(
                [48.12, -123.5],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_e96644f83beb48da82aa5812c533eed9 = L.popup({"maxWidth": "100%"});

        
            var html_91b03948e09f4974bff415ac4d2d85e9 = $(`<div id="html_91b03948e09f4974bff415ac4d2d85e9" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kclm"target="_blank"><b>kclm</b><br>kclm,&nbsp48.12</a><br>Pin&nbspNumber&nbsp=&nbsp1<br><b><font size=+2 color=green>-123.5</font></b></div>`)[0];
            popup_e96644f83beb48da82aa5812c533eed9.setContent(html_91b03948e09f4974bff415ac4d2d85e9);
        

        circle_marker_2bcbf67187424aa69e30c89fafc58621.bindPopup(popup_e96644f83beb48da82aa5812c533eed9)
        ;

        
    
    
            circle_marker_2bcbf67187424aa69e30c89fafc58621.bindTooltip(
                `<div>
                     kclm<br>Pin 1
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_1c92bad5b8414a80ae060a0a34f99178 = L.circleMarker(
                [48.52, -123.03],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_f8b40ea8c1aa45d9b9bd13110d557328 = L.popup({"maxWidth": "100%"});

        
            var html_bf5f9f600dc341198b512052c9c7329b = $(`<div id="html_bf5f9f600dc341198b512052c9c7329b" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kfhr"target="_blank"><b>kfhr</b><br>kfhr,&nbsp48.52</a><br>Pin&nbspNumber&nbsp=&nbsp4<br><b><font size=+2 color=blue>-123.03</font></b></div>`)[0];
            popup_f8b40ea8c1aa45d9b9bd13110d557328.setContent(html_bf5f9f600dc341198b512052c9c7329b);
        

        circle_marker_1c92bad5b8414a80ae060a0a34f99178.bindPopup(popup_f8b40ea8c1aa45d9b9bd13110d557328)
        ;

        
    
    
            circle_marker_1c92bad5b8414a80ae060a0a34f99178.bindTooltip(
                `<div>
                     kfhr<br>Pin 4
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_72204811c6d6445896307777871f7165 = L.circleMarker(
                [48.7, -122.92],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_9381cd24ef4c4350be81f04e730f3950 = L.popup({"maxWidth": "100%"});

        
            var html_6699bf1753e340318a291a4d783b2c5d = $(`<div id="html_6699bf1753e340318a291a4d783b2c5d" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kors"target="_blank"><b>kors</b><br>kors,&nbsp48.7</a><br>Pin&nbspNumber&nbsp=&nbsp5<br><b><font size=+2 color=green>-122.92</font></b></div>`)[0];
            popup_9381cd24ef4c4350be81f04e730f3950.setContent(html_6699bf1753e340318a291a4d783b2c5d);
        

        circle_marker_72204811c6d6445896307777871f7165.bindPopup(popup_9381cd24ef4c4350be81f04e730f3950)
        ;

        
    
    
            circle_marker_72204811c6d6445896307777871f7165.bindTooltip(
                `<div>
                     kors<br>Pin 5
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c5619a64f8684fd09fd8896eb2e52f0b = L.circleMarker(
                [48.05, -122.82],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_07a23c9a76e544ada1959d8f3642c3e9 = L.popup({"maxWidth": "100%"});

        
            var html_097415a2f3e24dcb990bf1741d90fc67 = $(`<div id="html_097415a2f3e24dcb990bf1741d90fc67" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=k0s9"target="_blank"><b>k0s9</b><br>k0s9,&nbsp48.05</a><br>Pin&nbspNumber&nbsp=&nbsp6<br><b><font size=+2 color=blue>-122.82</font></b></div>`)[0];
            popup_07a23c9a76e544ada1959d8f3642c3e9.setContent(html_097415a2f3e24dcb990bf1741d90fc67);
        

        circle_marker_c5619a64f8684fd09fd8896eb2e52f0b.bindPopup(popup_07a23c9a76e544ada1959d8f3642c3e9)
        ;

        
    
    
            circle_marker_c5619a64f8684fd09fd8896eb2e52f0b.bindTooltip(
                `<div>
                     k0s9<br>Pin 6
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b4bccb93a9554991b016ca5c06da572a = L.circleMarker(
                [48.8, -122.53],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_2eef3e12e613468490ab8c86339659d3 = L.popup({"maxWidth": "100%"});

        
            var html_039b9502d3cb4e77af172408fd16a8b0 = $(`<div id="html_039b9502d3cb4e77af172408fd16a8b0" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kbli"target="_blank"><b>kbli</b><br>kbli,&nbsp48.8</a><br>Pin&nbspNumber&nbsp=&nbsp8<br><b><font size=+2 color=green>-122.53</font></b></div>`)[0];
            popup_2eef3e12e613468490ab8c86339659d3.setContent(html_039b9502d3cb4e77af172408fd16a8b0);
        

        circle_marker_b4bccb93a9554991b016ca5c06da572a.bindPopup(popup_2eef3e12e613468490ab8c86339659d3)
        ;

        
    
    
            circle_marker_b4bccb93a9554991b016ca5c06da572a.bindTooltip(
                `<div>
                     kbli<br>Pin 8
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_7432e8c508b740ac9572f7b453fb449d = L.circleMarker(
                [48.47, -122.42],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_11ae1012c4fc42669cdc27ef80bc7962 = L.popup({"maxWidth": "100%"});

        
            var html_87e196b48a27486f9620c55298779f04 = $(`<div id="html_87e196b48a27486f9620c55298779f04" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kbvs"target="_blank"><b>kbvs</b><br>kbvs,&nbsp48.47</a><br>Pin&nbspNumber&nbsp=&nbsp9<br><b><font size=+2 color=green>-122.42</font></b></div>`)[0];
            popup_11ae1012c4fc42669cdc27ef80bc7962.setContent(html_87e196b48a27486f9620c55298779f04);
        

        circle_marker_7432e8c508b740ac9572f7b453fb449d.bindPopup(popup_11ae1012c4fc42669cdc27ef80bc7962)
        ;

        
    
    
            circle_marker_7432e8c508b740ac9572f7b453fb449d.bindTooltip(
                `<div>
                     kbvs<br>Pin 9
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_21e28bdc6c364048b42d455845751811 = L.circleMarker(
                [48.35, -122.65],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_224b3c79b3d543e587fcd643fe85075f = L.popup({"maxWidth": "100%"});

        
            var html_42c6ed938e3a466e9a600482f79070aa = $(`<div id="html_42c6ed938e3a466e9a600482f79070aa" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=knuw"target="_blank"><b>knuw</b><br>knuw,&nbsp48.35</a><br>Pin&nbspNumber&nbsp=&nbsp10<br><b><font size=+2 color=green>-122.65</font></b></div>`)[0];
            popup_224b3c79b3d543e587fcd643fe85075f.setContent(html_42c6ed938e3a466e9a600482f79070aa);
        

        circle_marker_21e28bdc6c364048b42d455845751811.bindPopup(popup_224b3c79b3d543e587fcd643fe85075f)
        ;

        
    
    
            circle_marker_21e28bdc6c364048b42d455845751811.bindTooltip(
                `<div>
                     knuw<br>Pin 10
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6defeda260b446308aad483460c5ea05 = L.circleMarker(
                [48.17, -122.17],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_bc96efabdc2144888f74967b328e385c = L.popup({"maxWidth": "100%"});

        
            var html_526431567df24df3b16cdcc87914df07 = $(`<div id="html_526431567df24df3b16cdcc87914df07" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kawo"target="_blank"><b>kawo</b><br>kawo,&nbsp48.17</a><br>Pin&nbspNumber&nbsp=&nbsp11<br><b><font size=+2 color=green>-122.17</font></b></div>`)[0];
            popup_bc96efabdc2144888f74967b328e385c.setContent(html_526431567df24df3b16cdcc87914df07);
        

        circle_marker_6defeda260b446308aad483460c5ea05.bindPopup(popup_bc96efabdc2144888f74967b328e385c)
        ;

        
    
    
            circle_marker_6defeda260b446308aad483460c5ea05.bindTooltip(
                `<div>
                     kawo<br>Pin 11
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c02bc1e1275f4944879097f7a5db7b62 = L.circleMarker(
                [47.92, -122.28],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_ff8d14e78b4c4400b86b457a7fde028b = L.popup({"maxWidth": "100%"});

        
            var html_45ba61c2b6684448bc1d846b92743ae7 = $(`<div id="html_45ba61c2b6684448bc1d846b92743ae7" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kpae"target="_blank"><b>kpae</b><br>kpae,&nbsp47.92</a><br>Pin&nbspNumber&nbsp=&nbsp13<br><b><font size=+2 color=green>-122.28</font></b></div>`)[0];
            popup_ff8d14e78b4c4400b86b457a7fde028b.setContent(html_45ba61c2b6684448bc1d846b92743ae7);
        

        circle_marker_c02bc1e1275f4944879097f7a5db7b62.bindPopup(popup_ff8d14e78b4c4400b86b457a7fde028b)
        ;

        
    
    
            circle_marker_c02bc1e1275f4944879097f7a5db7b62.bindTooltip(
                `<div>
                     kpae<br>Pin 13
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_234c3675e544471d8177a3d62af120d7 = L.circleMarker(
                [47.5, -122.77],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_a9bb0bb985e14a91918280674dcd0a00 = L.popup({"maxWidth": "100%"});

        
            var html_0c7261576a1c4a7caf45d81336bf16b2 = $(`<div id="html_0c7261576a1c4a7caf45d81336bf16b2" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kpwt"target="_blank"><b>kpwt</b><br>kpwt,&nbsp47.5</a><br>Pin&nbspNumber&nbsp=&nbsp14<br><b><font size=+2 color=green>-122.77</font></b></div>`)[0];
            popup_a9bb0bb985e14a91918280674dcd0a00.setContent(html_0c7261576a1c4a7caf45d81336bf16b2);
        

        circle_marker_234c3675e544471d8177a3d62af120d7.bindPopup(popup_a9bb0bb985e14a91918280674dcd0a00)
        ;

        
    
    
            circle_marker_234c3675e544471d8177a3d62af120d7.bindTooltip(
                `<div>
                     kpwt<br>Pin 14
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_62820408afbc4668a5fff72d3119bc1a = L.circleMarker(
                [47.23, -123.13],
                {"bubblingMouseEvents": true, "color": "violet", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "violet", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_7fddb002c0f644c4a8ba57e43043e4f0 = L.popup({"maxWidth": "100%"});

        
            var html_58751ac7806a46beba47517220b6a620 = $(`<div id="html_58751ac7806a46beba47517220b6a620" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kshn"target="_blank"><b>kshn</b><br>kshn,&nbsp47.23</a><br>Pin&nbspNumber&nbsp=&nbsp15<br><b><font size=+2 color=violet>-123.13</font></b></div>`)[0];
            popup_7fddb002c0f644c4a8ba57e43043e4f0.setContent(html_58751ac7806a46beba47517220b6a620);
        

        circle_marker_62820408afbc4668a5fff72d3119bc1a.bindPopup(popup_7fddb002c0f644c4a8ba57e43043e4f0)
        ;

        
    
    
            circle_marker_62820408afbc4668a5fff72d3119bc1a.bindTooltip(
                `<div>
                     kshn<br>Pin 15
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_8c96037f6bbb4ebb9aa7315ffacd0bcf = L.circleMarker(
                [46.97, -123.93],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_c7ae41f9a44a4de1bdf087d4847edc41 = L.popup({"maxWidth": "100%"});

        
            var html_3d7c333510524b6f881be4add4aad951 = $(`<div id="html_3d7c333510524b6f881be4add4aad951" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=khqm"target="_blank"><b>khqm</b><br>khqm,&nbsp46.97</a><br>Pin&nbspNumber&nbsp=&nbsp16<br><b><font size=+2 color=green>-123.93</font></b></div>`)[0];
            popup_c7ae41f9a44a4de1bdf087d4847edc41.setContent(html_3d7c333510524b6f881be4add4aad951);
        

        circle_marker_8c96037f6bbb4ebb9aa7315ffacd0bcf.bindPopup(popup_c7ae41f9a44a4de1bdf087d4847edc41)
        ;

        
    
    
            circle_marker_8c96037f6bbb4ebb9aa7315ffacd0bcf.bindTooltip(
                `<div>
                     khqm<br>Pin 16
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_abbc7f200c8f4ea2afc7307244212864 = L.circleMarker(
                [46.97, -122.9],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_211ab775c1024386a2591554c564233a = L.popup({"maxWidth": "100%"});

        
            var html_6ece04fdc6694bda8da6a9fb7092d53d = $(`<div id="html_6ece04fdc6694bda8da6a9fb7092d53d" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kolm"target="_blank"><b>kolm</b><br>kolm,&nbsp46.97</a><br>Pin&nbspNumber&nbsp=&nbsp17<br><b><font size=+2 color=black>-122.9</font></b></div>`)[0];
            popup_211ab775c1024386a2591554c564233a.setContent(html_6ece04fdc6694bda8da6a9fb7092d53d);
        

        circle_marker_abbc7f200c8f4ea2afc7307244212864.bindPopup(popup_211ab775c1024386a2591554c564233a)
        ;

        
    
    
            circle_marker_abbc7f200c8f4ea2afc7307244212864.bindTooltip(
                `<div>
                     kolm<br>Pin 17
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0100fbfa435348d49c5200ccf4cf5ccc = L.circleMarker(
                [46.68, -122.98],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_60c779ea6ff34a6288b81b2048eb2e86 = L.popup({"maxWidth": "100%"});

        
            var html_c87dece487fb4c6faa5f9028c7d1e46a = $(`<div id="html_c87dece487fb4c6faa5f9028c7d1e46a" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kcls"target="_blank"><b>kcls</b><br>kcls,&nbsp46.68</a><br>Pin&nbspNumber&nbsp=&nbsp18<br><b><font size=+2 color=green>-122.98</font></b></div>`)[0];
            popup_60c779ea6ff34a6288b81b2048eb2e86.setContent(html_c87dece487fb4c6faa5f9028c7d1e46a);
        

        circle_marker_0100fbfa435348d49c5200ccf4cf5ccc.bindPopup(popup_60c779ea6ff34a6288b81b2048eb2e86)
        ;

        
    
    
            circle_marker_0100fbfa435348d49c5200ccf4cf5ccc.bindTooltip(
                `<div>
                     kcls<br>Pin 18
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5e9712332c2a4bed961594b5d80e8097 = L.circleMarker(
                [47.07, -122.57],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_39676a7742a745c582613326bd8d7a51 = L.popup({"maxWidth": "100%"});

        
            var html_a60b881c8ec24f7f90ec30f8c3412da4 = $(`<div id="html_a60b881c8ec24f7f90ec30f8c3412da4" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kgrf"target="_blank"><b>kgrf</b><br>kgrf,&nbsp47.07</a><br>Pin&nbspNumber&nbsp=&nbsp19<br><b><font size=+2 color=green>-122.57</font></b></div>`)[0];
            popup_39676a7742a745c582613326bd8d7a51.setContent(html_a60b881c8ec24f7f90ec30f8c3412da4);
        

        circle_marker_5e9712332c2a4bed961594b5d80e8097.bindPopup(popup_39676a7742a745c582613326bd8d7a51)
        ;

        
    
    
            circle_marker_5e9712332c2a4bed961594b5d80e8097.bindTooltip(
                `<div>
                     kgrf<br>Pin 19
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_2ecbbf5e0d914598b4ec87922b94612a = L.circleMarker(
                [47.13, -122.47],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_4c2aebe42a4e44ababd2b10589278f5d = L.popup({"maxWidth": "100%"});

        
            var html_b467314c79524abaa464140725dc1261 = $(`<div id="html_b467314c79524abaa464140725dc1261" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=ktcm"target="_blank"><b>ktcm</b><br>ktcm,&nbsp47.13</a><br>Pin&nbspNumber&nbsp=&nbsp20<br><b><font size=+2 color=red>-122.47</font></b></div>`)[0];
            popup_4c2aebe42a4e44ababd2b10589278f5d.setContent(html_b467314c79524abaa464140725dc1261);
        

        circle_marker_2ecbbf5e0d914598b4ec87922b94612a.bindPopup(popup_4c2aebe42a4e44ababd2b10589278f5d)
        ;

        
    
    
            circle_marker_2ecbbf5e0d914598b4ec87922b94612a.bindTooltip(
                `<div>
                     ktcm<br>Pin 20
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0c50ee297315466193f7c139e66b06f8 = L.circleMarker(
                [47.1, -122.28],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_9cfe837f467e408d9009a37b30f7be66 = L.popup({"maxWidth": "100%"});

        
            var html_81e0ef4faa194243a23ef939c2cc7520 = $(`<div id="html_81e0ef4faa194243a23ef939c2cc7520" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kplu"target="_blank"><b>kplu</b><br>kplu,&nbsp47.1</a><br>Pin&nbspNumber&nbsp=&nbsp21<br><b><font size=+2 color=green>-122.28</font></b></div>`)[0];
            popup_9cfe837f467e408d9009a37b30f7be66.setContent(html_81e0ef4faa194243a23ef939c2cc7520);
        

        circle_marker_0c50ee297315466193f7c139e66b06f8.bindPopup(popup_9cfe837f467e408d9009a37b30f7be66)
        ;

        
    
    
            circle_marker_0c50ee297315466193f7c139e66b06f8.bindTooltip(
                `<div>
                     kplu<br>Pin 21
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a4a0dce1034648568f57edd2b4e51971 = L.circleMarker(
                [47.27, -122.58],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_f08f7be376924162a56074b325d61e35 = L.popup({"maxWidth": "100%"});

        
            var html_b45785127ca74e2d8c64aa47b4659265 = $(`<div id="html_b45785127ca74e2d8c64aa47b4659265" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=ktiw"target="_blank"><b>ktiw</b><br>ktiw,&nbsp47.27</a><br>Pin&nbspNumber&nbsp=&nbsp22<br><b><font size=+2 color=green>-122.58</font></b></div>`)[0];
            popup_f08f7be376924162a56074b325d61e35.setContent(html_b45785127ca74e2d8c64aa47b4659265);
        

        circle_marker_a4a0dce1034648568f57edd2b4e51971.bindPopup(popup_f08f7be376924162a56074b325d61e35)
        ;

        
    
    
            circle_marker_a4a0dce1034648568f57edd2b4e51971.bindTooltip(
                `<div>
                     ktiw<br>Pin 22
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5e41d9a4d606428b87476a7977046915 = L.circleMarker(
                [47.45, -122.32],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_efda82bdfe334c1ab7570c9c9f09e625 = L.popup({"maxWidth": "100%"});

        
            var html_3f643035d4a74e8a92efccf547c56359 = $(`<div id="html_3f643035d4a74e8a92efccf547c56359" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=ksea"target="_blank"><b>ksea</b><br>ksea,&nbsp47.45</a><br>Pin&nbspNumber&nbsp=&nbsp23<br><b><font size=+2 color=green>-122.32</font></b></div>`)[0];
            popup_efda82bdfe334c1ab7570c9c9f09e625.setContent(html_3f643035d4a74e8a92efccf547c56359);
        

        circle_marker_5e41d9a4d606428b87476a7977046915.bindPopup(popup_efda82bdfe334c1ab7570c9c9f09e625)
        ;

        
    
    
            circle_marker_5e41d9a4d606428b87476a7977046915.bindTooltip(
                `<div>
                     ksea<br>Pin 23
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b4ddcba8470946b2add7e62fbed50a90 = L.circleMarker(
                [47.55, -122.32],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_bd907c9adc3f461082a482a8ab9b7bf4 = L.popup({"maxWidth": "100%"});

        
            var html_a294ae77d8d54a3cb9cbc7579c5259eb = $(`<div id="html_a294ae77d8d54a3cb9cbc7579c5259eb" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kbfi"target="_blank"><b>kbfi</b><br>kbfi,&nbsp47.55</a><br>Pin&nbspNumber&nbsp=&nbsp24<br><b><font size=+2 color=green>-122.32</font></b></div>`)[0];
            popup_bd907c9adc3f461082a482a8ab9b7bf4.setContent(html_a294ae77d8d54a3cb9cbc7579c5259eb);
        

        circle_marker_b4ddcba8470946b2add7e62fbed50a90.bindPopup(popup_bd907c9adc3f461082a482a8ab9b7bf4)
        ;

        
    
    
            circle_marker_b4ddcba8470946b2add7e62fbed50a90.bindTooltip(
                `<div>
                     kbfi<br>Pin 24
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b9c06a9d27f6406fb64f747da7f3a78b = L.circleMarker(
                [47.5, -122.22],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_ef722bc0fe3f4a16a5baa89660508c19 = L.popup({"maxWidth": "100%"});

        
            var html_239e7670ad2043abba56de4d4301aace = $(`<div id="html_239e7670ad2043abba56de4d4301aace" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=krnt"target="_blank"><b>krnt</b><br>krnt,&nbsp47.5</a><br>Pin&nbspNumber&nbsp=&nbsp25<br><b><font size=+2 color=green>-122.22</font></b></div>`)[0];
            popup_ef722bc0fe3f4a16a5baa89660508c19.setContent(html_239e7670ad2043abba56de4d4301aace);
        

        circle_marker_b9c06a9d27f6406fb64f747da7f3a78b.bindPopup(popup_ef722bc0fe3f4a16a5baa89660508c19)
        ;

        
    
    
            circle_marker_b9c06a9d27f6406fb64f747da7f3a78b.bindTooltip(
                `<div>
                     krnt<br>Pin 25
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a939438e5e6c461187f21f095f808a01 = L.circleMarker(
                [47.28, -121.33],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_8cab2457ae0244628756c4e63742fae7 = L.popup({"maxWidth": "100%"});

        
            var html_ade98c768c704dbf997c9f97438d6baf = $(`<div id="html_ade98c768c704dbf997c9f97438d6baf" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=ksmp"target="_blank"><b>ksmp</b><br>ksmp,&nbsp47.28</a><br>Pin&nbspNumber&nbsp=&nbsp26<br><b><font size=+2 color=green>-121.33</font></b></div>`)[0];
            popup_8cab2457ae0244628756c4e63742fae7.setContent(html_ade98c768c704dbf997c9f97438d6baf);
        

        circle_marker_a939438e5e6c461187f21f095f808a01.bindPopup(popup_8cab2457ae0244628756c4e63742fae7)
        ;

        
    
    
            circle_marker_a939438e5e6c461187f21f095f808a01.bindTooltip(
                `<div>
                     ksmp<br>Pin 26
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_753bdea155bc4646ada797c7a8ea24de = L.circleMarker(
                [47.03, -120.53],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_805aff5a64b740daaa89985b4da8d8f7 = L.popup({"maxWidth": "100%"});

        
            var html_681fc2b6aefd422081bd61271bd988a3 = $(`<div id="html_681fc2b6aefd422081bd61271bd988a3" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=keln"target="_blank"><b>keln</b><br>keln,&nbsp47.03</a><br>Pin&nbspNumber&nbsp=&nbsp27<br><b><font size=+2 color=green>-120.53</font></b></div>`)[0];
            popup_805aff5a64b740daaa89985b4da8d8f7.setContent(html_681fc2b6aefd422081bd61271bd988a3);
        

        circle_marker_753bdea155bc4646ada797c7a8ea24de.bindPopup(popup_805aff5a64b740daaa89985b4da8d8f7)
        ;

        
    
    
            circle_marker_753bdea155bc4646ada797c7a8ea24de.bindTooltip(
                `<div>
                     keln<br>Pin 27
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_79143f042e0e46669af953222667c7a9 = L.circleMarker(
                [47.4, -120.2],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_4485dc2bead34627ad8c8ad666becf82 = L.popup({"maxWidth": "100%"});

        
            var html_da25c288b64e4ba39144e57f1a2c8934 = $(`<div id="html_da25c288b64e4ba39144e57f1a2c8934" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=keat"target="_blank"><b>keat</b><br>keat,&nbsp47.4</a><br>Pin&nbspNumber&nbsp=&nbsp28<br><b><font size=+2 color=green>-120.2</font></b></div>`)[0];
            popup_4485dc2bead34627ad8c8ad666becf82.setContent(html_da25c288b64e4ba39144e57f1a2c8934);
        

        circle_marker_79143f042e0e46669af953222667c7a9.bindPopup(popup_4485dc2bead34627ad8c8ad666becf82)
        ;

        
    
    
            circle_marker_79143f042e0e46669af953222667c7a9.bindTooltip(
                `<div>
                     keat<br>Pin 28
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_c7b1bb7427ec47189ad6b4b50b0e6039 = L.circleMarker(
                [47.3, -119.52],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_005a3308a01443619ccf9e01cee76b43 = L.popup({"maxWidth": "100%"});

        
            var html_83ec4d80a14b4e0d89cefa666838ca40 = $(`<div id="html_83ec4d80a14b4e0d89cefa666838ca40" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=keph"target="_blank"><b>keph</b><br>keph,&nbsp47.3</a><br>Pin&nbspNumber&nbsp=&nbsp29<br><b><font size=+2 color=green>-119.52</font></b></div>`)[0];
            popup_005a3308a01443619ccf9e01cee76b43.setContent(html_83ec4d80a14b4e0d89cefa666838ca40);
        

        circle_marker_c7b1bb7427ec47189ad6b4b50b0e6039.bindPopup(popup_005a3308a01443619ccf9e01cee76b43)
        ;

        
    
    
            circle_marker_c7b1bb7427ec47189ad6b4b50b0e6039.bindTooltip(
                `<div>
                     keph<br>Pin 29
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_2be721cf18e3457e924832c49f617714 = L.circleMarker(
                [47.2, -119.32],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_117d86c499ad43afbad40cad87a70bc1 = L.popup({"maxWidth": "100%"});

        
            var html_68ed44f2c4ef41528def324448f1bb6c = $(`<div id="html_68ed44f2c4ef41528def324448f1bb6c" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=kmwh"target="_blank"><b>kmwh</b><br>kmwh,&nbsp47.2</a><br>Pin&nbspNumber&nbsp=&nbsp30<br><b><font size=+2 color=green>-119.32</font></b></div>`)[0];
            popup_117d86c499ad43afbad40cad87a70bc1.setContent(html_68ed44f2c4ef41528def324448f1bb6c);
        

        circle_marker_2be721cf18e3457e924832c49f617714.bindPopup(popup_117d86c499ad43afbad40cad87a70bc1)
        ;

        
    
    
            circle_marker_2be721cf18e3457e924832c49f617714.bindTooltip(
                `<div>
                     kmwh<br>Pin 30
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_8cac8620e88e40e980c6d9fd1f0a72f1 = L.circleMarker(
                [48.47, -119.52],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7, "stroke": true, "weight": 6}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
        var popup_25b292be75b94fd982c262b1dcb49e46 = L.popup({"maxWidth": "100%"});

        
            var html_d7babbc87a0147788254aa8c739ff07a = $(`<div id="html_d7babbc87a0147788254aa8c739ff07a" style="width: 100.0%; height: 100.0%;"><a href="https://nfdc.faa.gov/nfdcApps/services/ajv5/airportDisplay.jsp?airportId=komk"target="_blank"><b>komk</b><br>komk,&nbsp48.47</a><br>Pin&nbspNumber&nbsp=&nbsp31<br><b><font size=+2 color=green>-119.52</font></b></div>`)[0];
            popup_25b292be75b94fd982c262b1dcb49e46.setContent(html_d7babbc87a0147788254aa8c739ff07a);
        

        circle_marker_8cac8620e88e40e980c6d9fd1f0a72f1.bindPopup(popup_25b292be75b94fd982c262b1dcb49e46)
        ;

        
    
    
            circle_marker_8cac8620e88e40e980c6d9fd1f0a72f1.bindTooltip(
                `<div>
                     komk<br>Pin 31
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_0dcb7807e8494d87a5db9a70e9ffb64c = L.polyline(
                [[47.93, -124.55], [48.12, -123.5], [48.52, -123.03], [48.7, -122.92], [48.05, -122.82], [48.8, -122.53], [48.47, -122.42], [48.35, -122.65], [48.17, -122.17], [47.92, -122.28], [47.5, -122.77], [47.23, -123.13], [46.97, -123.93], [46.97, -122.9], [46.68, -122.98], [47.07, -122.57], [47.13, -122.47], [47.1, -122.28], [47.27, -122.58], [47.45, -122.32], [47.55, -122.32], [47.5, -122.22], [47.28, -121.33], [47.03, -120.53], [47.4, -120.2], [47.3, -119.52], [47.2, -119.32], [48.47, -119.52]],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": "10", "dashOffset": null, "fill": false, "fillColor": "grey", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
            var marker_ca0adeadd81c418aa134f2e17d60b352 = L.marker(
                [48.8, -121.935],
                {}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
            var div_icon_7f5ac16f001041099484623c27ddb076 = L.divIcon({"className": "empty", "html": "\u003cdiv style=\"font-size: 24pt\"\u003e\u003cb\u003eLiveSectional Map Layout\u003c/b\u003e\u003c/div\u003e", "iconAnchor": [150, 64], "iconSize": [500, 36]});
            marker_ca0adeadd81c418aa134f2e17d60b352.setIcon(div_icon_7f5ac16f001041099484623c27ddb076);
        
    
                var lat_lng_popup_5515c7477b3f4f7f83462ecc842ea858 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_5515c7477b3f4f7f83462ecc842ea858
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_918ed8ad2cfe41468bf407a055bbd189);
                    }
                map_918ed8ad2cfe41468bf407a055bbd189.on('click', latLngPop);
            
    
            L.Control.geocoder(
                {"collapsed": false, "defaultMarkGeocode": true, "position": "topright"}
            ).on('markgeocode', function(e) {
                map_918ed8ad2cfe41468bf407a055bbd189.setView(e.geocode.center, 11);
            }).addTo(map_918ed8ad2cfe41468bf407a055bbd189);

        
    
            L.control.fullscreen(
                {"forceSeparateButton": true, "position": "topright", "title": "Full Screen", "titleCancel": "Exit Full Screen"}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
            var tile_layer_0bfd67bff69e4684b6db4b4e59c051ba = L.tileLayer(
                "http://wms.chartbundle.com/tms/1.0.0/sec/{z}/{x}/{y}.png?origin=nw",
                {"attribution": "chartbundle.com", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
            var tile_layer_917a5d2236ae4106b562117bf379bdad = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
            var tile_layer_2250ac1c8dd84d3b9a76f3b8f08e916a = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
        
    
            var layer_control_fdf6e3bda7894e9ab12144e0440f0031 = {
                base_layers : {
                    "openstreetmap" : tile_layer_be62325a84b043208c9f0b3020e85fc5,
                    "ChartBundle Sectional" : tile_layer_0bfd67bff69e4684b6db4b4e59c051ba,
                    "Stamen Terrain" : tile_layer_917a5d2236ae4106b562117bf379bdad,
                    "CartoDB Positron" : tile_layer_2250ac1c8dd84d3b9a76f3b8f08e916a,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_fdf6e3bda7894e9ab12144e0440f0031.base_layers,
                layer_control_fdf6e3bda7894e9ab12144e0440f0031.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_918ed8ad2cfe41468bf407a055bbd189);
            tile_layer_0bfd67bff69e4684b6db4b4e59c051ba.remove();
            tile_layer_917a5d2236ae4106b562117bf379bdad.remove();
            tile_layer_2250ac1c8dd84d3b9a76f3b8f08e916a.remove();
        
</script>